.chatForum {
  width: 60%;
  justify-self: auto;
  margin: auto;
  background-color: rgb(169, 169, 216);
  justify-items: center;
  text-align: center;
}

.Post1 {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}
